.header{
    background-color: black;
    width: 100%;
    display: flex;
    position: sticky;
    justify-content: space-between;
    z-index: 1;
    top: 0;
    align-items: center;
}
.headre-item {
    padding: 1rem;
}
.headre-item img {
    width: 200px;
    flex-basis: 200px;
    max-width: 200px;
}